---
const pageTitle = "À propos de wam";

const identity = {
  firstName: "lionelu",
  country: "france",
  occupation: "dev front",
  hobbies: ["photographie", "observation des oiseaux", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rédaction de documentation"];

const happy = true;
const finished = false;
const goal = 3;

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Accueil</a>
    <a href="/about/">À propos</a>
    <a href="/blog/">Blog</a>
    <h1>À propos de moi</h1>
    <h2>... et de mon nouveau site Astro !</h2>

    <p>Voici quelques faits me concernant :</p>
	<ul>
		<li>Je m'appelle {identity.firstName}.</li>
		<li>Je vis au {identity.country} et je travaille en tant que {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
		}
	</ul>
	<p>Voici mes compétences :</p>
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>

	{happy && <p>Je suis heureux d'apprendre Astro !</p>}

	{finished && <p>J'ai terminé ce tutoriel !</p>}

	{goal === 3 ? <p>Mon objectif est de terminer en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours.</p>}
	
  </body>
</html>